body{
  overflow-x: hidden;
}
#landing{
  background-image:url("https://cdn.pixabay.com/photo/2016/08/14/12/41/water-lily-1592793__340.png");
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:680px;
  width:100%;
}
#welcome{
  padding-top:170px;
}
#navigation{
  padding-top:10px;
  padding-left:250px;
}
.overlay{
  background-image:url("https://cdn.pixabay.com/photo/2013/09/19/16/44/sky-183870__340.jpg");
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:750px;
  width:100%;
}
#hand{
  padding-top:3px;
  float:right;
  position:sticky;
  
}
#pizza,#delani,#exo,#daktari,#princess,#quote{
  padding-left:10px;
  margin-left:140px;
}
#abs{
  margin-top:40px;
  height:400px;
}


